.toko {
    text-align: center;
    background-color: aqua;
    margin-top: 100px;
    margin-right: 300px;
    margin-left: 300px;
    padding: 30px;
    border-radius: 15px;
}

.barang {
    border: 1px solid violet;
    background-color: violet;
    border-radius: 10px;
}

.total {
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 7px;
}
button {
    background-color: crimson;
    border: 1px solid crimson;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}
